@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');

.logoClass{
    color: white;
    font-family:'Raleway',sans-serif;
    font-size: 25px;
}

.logoClass:hover{
    color: whitesmoke
}
