@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{margin:0; padding: 0; box-sizing: border-box}

body{
    background-color: black;
}

ul{
    list-style:none
}


.texto{
    color:whitesmoke;
    font-family:"Raleway",sans-serif;
}

.labelStyle{
    color:whitesmoke;
    font-family:'Raleway',sans-serif;
}

.buttonStyle{
    background-color: black;
    color: white;
    font-family:'Raleway',sans-serif;
    border-color:#47026c
}
.modalStyle{
    background-color: rgba(0,0,0,0.8);
    border-color: #47026c
}
.inputBox{
    color:white;
    background-color:rgba(0,0,0,0.8);
    border-radius: 5px;  
    
}

.inputBox:focus{
    animation:pulse;
    animation-duration: 1s;
    border-color: #47026c;
    outline: none;
    box-shadow: 0 0 3px #c86bfa;
}


.logoClass{
    color: white;
    font-family:'Raleway',sans-serif;
    font-size: 25px;
}

.logoClass:hover{
    color: whitesmoke
}

.carrousel{
    position:relative;
    overflow: hidden;
    cursor: pointer;
    
   
}

.carrousel figure{
    position: relative;
    overflow: hidden;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.carrousel figure img{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
   
}
.carrousel .capa{
    width: 100%;
    height: 100%;
    display: flex;
    
}
.carrousel figure .capa{
    position: absolute;
    width: 1125px;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility: hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}

.carrousel figure:hover > .capa{
    opacity: 1;
    visibility: visible;
}

.carrousel figure:hover > .capa h2{
    display: flex;
    justify-content: center;
    text-align:center;

}

.carrousel figure .capa h2{
    padding: 3%;
    color: #fff;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    transition: all 500ms ease-out;

}

.carrousel figure .capa p{
    color: #fff;
    font-weight: 100;
    line-height: 1.5;
    width: 100%;
    font-size: 40px;
    padding: 3%

}

.categoriasjuegos{
    padding-top: 5%;
    font-size: 60px;
    font-family: 'Raleway', sans-serif;
    font-weight: 800;
    color:  #c86bfa;
    text-align: center;
}

.juegodestacado{
    position:relative;
    overflow: hidden;
    cursor: pointer;
}

.juegodestacado figure{
    position: relative;
    overflow: visible;
    cursor: pointer;
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
}

.juegodestacado figure .juego_destacado{
    width: 100%;
    height: 100%;
    transition: all 500ms ease-out;
   
}

.juegodestacado .juego_destacado{
    width: 100%;
    height: 100%;
    display: flex;
    
}
.juegodestacado figure .juego_destacado{
    position:absolute;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    transition: all 500ms ease-out;
    opacity: 0;
    visibility:hidden;
    display: flex;
    justify-content: center;
    text-align: center;
}

.juegodestacado figure:hover > .juego_destacado{
    opacity: 1;
    visibility: visible;
}

.juegodestacado figure:hover > .titulodestacado h2{
    display: flex;
    justify-content: center;
    text-align:center;

}

.juegodestacado figure .titulodestacado h2{
    padding: 3%;
    color: #fff;
    display:flex;
    justify-content: center;
    text-align: center;
    font-size: 100px;
    transition: all 500ms ease-out;

}

.juegodestacado figure .titulodestacado p{
    color: #fff;
    font-weight: 100;
    line-height: 1.5;
    width: 100%;
    font-size: 40px;
    padding: 3%

}

.catjuego h2{
    text-align: center;
    padding-top: 17%;
    color:whitesmoke;
    font-family:"Raleway",sans-serif;
    font-weight: 600;
    font-size: 40px;
}