@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.error_ {
  color: #c86bfa;
  font-size: 50px;
  font-family: "Raleway", sans-serif;
  font-weight: 800;
}

.textError {
  color: #e4afff;
  font-size: 30px;
  font-family: "Raleway", sans-serif;
  font-weight: 500;
}
.eric {
  display: flex;
  align-self: center;
}

.labelStyle {
  color: whitesmoke;
  font-family: "Raleway", sans-serif;
}

.buttonStyle {
  background-color: black;
  color: white;
  font-family: "Raleway", sans-serif;
  border-color: #47026c;
  border-radius: 20px;
}
.modalStyle {
  background-color: rgba(0, 0, 0, 1);
  border-color: #47026c;
}
.inputBox {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}

.cardStyle {
  background-color: black;
  border-radius: 10px;
  border-color: #47026c;
  color: white;
}

.inputBox:focus {
  animation: pulse;
  animation-duration: 1s;
  border-color: #47026c;
  outline: none;
  box-shadow: 0 0 3px #c86bfa;
}

.logoClass {
  color: white;
  font-family: "Raleway", sans-serif;
  font-size: 25px;
}

.logoClass:hover {
  color: whitesmoke;
}
