body {
  background-color: black;
}

ul {
  list-style: none;
}
.buttonStyle {
  background-color: rgb(32, 32, 32, 0.5);
  color: white;
  font-family: "Raleway", sans-serif;
  border-color: #47026c;
  border-radius: 53px 53px 53px 53px;
  -moz-border-radius: 53px 53px 53px 53px;
  -webkit-border-radius: 53px 53px 53px 53px;
  border: 0px solid #000000;
}

.crudBox {
  color: white;
  background-color: rgb(32, 32, 32, 0.5);
}

.modalStyle {
  background-color: rgba(0, 0, 0, 0.8);
  border-color: #47026c;
  color: white;
}

.inputBox {
  color: white;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 5px;
}
